<ion-header>
  <ion-toolbar>
    <ion-title side="center">Home</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="selectedData" (ngSubmit)="saveSenderDetails()">
  <ion-radio-group formControlName="itemid">
  <app-sendertravelerdata  *ngFor="let itemData of itemsListData" [itemsData]="itemData"></app-sendertravelerdata>
  </ion-radio-group>
  <ion-button type="submit" expand="full" color="danger" class="btnsubmit">Submit</ion-button>
</form>
</ion-content>
<app-footer></app-footer>